/* Reset default CSS */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0,0,0);
  width: 100vw;
  height: 100vh;
}

#heading{
  color: aqua;
  margin-left: 80px;
  margin-top: 70px;
  margin-right: 0px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.inputFields{
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 10%;
  padding: 10px;
  background-color: black;
  color: white;
  width: 20%;
  font-size: larger;
  height: 50px;
  
}
input[type=text]:focus {
  outline: navajowhite;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}
.glowing-border {
  border: 2px solid ;
  color: white;
  border-radius: 7px #9ecaed;
}

.glowing-border:focus { 
  outline: none;
  border-color: #FEFE1C;
  color: white;
  box-shadow: 0 0 10px #FEFE1C;
}